{% extends 'base.html' %}
{% block title %} OjasMusicApp | {{ title }} {% endblock title %}
{% block body %}

<div class="container offset col-md-4 border border-secondary p-4 mt-5 bg-light">
   <form method="POST" enctype="multipart/form-data" >
      {% csrf_token %}
        <h3 class="text-center">Add Song Details</h3>
        <table class="table border-0 center">
            <tr><td>Album Name:</td><td>{{ addsong.album_name }}</td></tr>
            <tr><td>Song Name:</td><td>{{ addsong.song_name }}</td></tr>
            <tr><td>Album Image:</td><td>{{ addsong.album_image_link }} </td></tr>
            <tr><td>Upload Song:</td><td> {{ addsong.upload_file }}</td></tr>
            <tr><td>Year:</td><td> {{ addsong.year }} </td></tr>
            <tr><td>Singer:</td><td>{{ addsong.singer }}</td></tr>
        </table>
         <button type="submit" class="btn btn-secondary btn-lg btn-block">Submit</button>
    </form>
</div>
{% endblock body %}