{% extends "base.html"%}

    {% block body_content %}
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Error Page not Found</h3>
            <div class="card-text text-center">
                <p>please enter valid url</p>
            </div>
            <div class='text-center'>
                <a href="{% url '/'%}" class='btn btn-primary'>Back</a>
</div>
        </div>
    </div>
    </div>
    
    {% endblock %}