{% extends "base.html" %}
    {% block body_content %}
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
          {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
                {% endfor %}      
        {% endif %}
            <h3 class="card-title text-center">Password Reset Form</h3>
            <div class="card-text text-center">
            <form action = "{% url 'password_send' %}" method = "POST">     
            {%csrf_token%}           
                <div class="form-group">
                    <label for="email">Email address:</label>
                    <input type="email" class="form-control" placeholder="Enter email" id="email" name = email>
                </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
         </div>
        </div>
    </div>
    
    {% endblock %}