{% extends "base.html" %}
    {% block body_content %}
    <div class="global-container">
        <div class="card login-form">
        <div class="card-body">
            <h3 class="card-title text-center">Password Reset Form</h3>
            <div class="card-text text-center">
            <form action="{% url 'password_reset_form' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" id="pwd" name = 'password'>
                </div> 
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm password" id="pwd" name = 'confirmpassword'>
                </div>
                </div>
              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
         </div>
        </div>
    </div>
    
    {% endblock %}