<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data" >
        {% csrf_token %}
        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Enter Details</h3>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Album Name:</label>
                <div class="col-sm-4">
                    {{ addsong.album_name }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Song Name:</label>
                <div class="col-sm-4">
                    {{ addsong.song_name }}
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Album Image:</label>
                <div class="col-sm-4">
                    <input type="file" name="album_image_link" accept=".jpg, .png" value= "{{ addsong.album_image_link }} "/>
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Upload SOng:</label>
                <div class="col-sm-4">
                    <input type="file" name="album_name" accept=".mp3" value= "{{ addsong.upload_file }}" />
                </div>
            </div>
            <br><br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>

</html>