{% extends 'userbase.html' %}
{% load static %}
{% block userbody %}

<title>User list Songs</title>
    <style>
        .btn-Lynch {
            width: 45px;
            height: 45px;
            background-color: #6C7A89;
            border-bottom: 3px solid #818D9B;
            color: white;
            margin: 5px;
            border-radius: 20px;
    
        }
    
        .glyphicon {
            color: white;
        }
    
        &:hover {
            background-color: #95A5A6;
            color: white;
        }
        }
    
        #add_song {
            border-radius: 0px;
        }
    
        #add_song:hover {
            transition-property: border-radius;
            transition-duration: 1s;
            transition-delay: .1s;
            border-radius: 35px;
        }
    
        img {
            border: 1px solid #ddd;
            border-radius: 4px;
            padding: 5px;
            width: 100px;
            height: 100px;
        }
    
        .card-img-top {
            margin-top: 10%;
            width: 50%;
        }
    
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }
    
        .baseBlock {
            margin: 25px 0px 35px 0px;
            padding: 0 0 15px 0px;
            border-radius: 5px;
            overflow: hidden;
            background: #fff;
            -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
            -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
            transition: all 0.3s cubic-bezier(0.4, 0, 1, 1);
        }
    
        .baseBlock:hover {
            background-color: #EFECEB;
            border: 2px solid gray;
            -webkit-transform: translate(0, -8px);
            -moz-transform: translate(0, -8px);
            -ms-transform: translate(0, -8px);
            -o-transform: translate(0, -8px);
            transform: translate(0, -8px);
            box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
        }
    
        #cover_image {
            height: 500px;
            width: 1080px;
    
        }
    
        audio {
            width: 250px;
            margin-left: 15px;
        }
    
        .p {
            display: inline;
            padding: 5px;
            word-wrap: break-word;
        }
    
        .container2 {       
            position: relative;
            text-align: center;
            color: white;
        }
    
        .centered {
            position: absolute;
            top: 50%;
            left: 20%;
            transform: translate(-50%, -50%);
            color: #000;
        }
    
        .container {}
    </style>

<body>

    <div class="container">
        <h1 class="second"><span>All Albums</span></h1>
        <div class="row">
            {% for album_name,album_image in album.items %}

            <div class="col-md-3 m-4">
                <div class="card baseBlock" style="width: 18rem;">
                    <img class="card-img-top p-1 mt-3 center" src="{{ album_image }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center"><b><a
                                    href="../album_view_songs/{{ album_name }}">{{album_name}}</a></b></h5>
                    </div>
                </div>
            </div>
            {% endfor%}
        </div>
    </div>
    <hr />
    <center>
        {%if song_list.has_previous %} {# whether the previous page exists #}
        <a href="?page={{song_list.previous_page_number}}">
            << /a> {# link to the prev page #}
                {% endif %}
                <span>{{song_list.number}}</span> {# the current page number #}

                {%if song_list.has_next %} {# whether the next page exists #}
                <a href="?page={{song_list.next_page_number}}">></a> {# link to the next page #}
                {% endif %}
    </center>
    
    {% endblock userbody %}
</body>