
{% block title %} OjasMusicApp | {{ title }} {% endblock title %}
    <title>user Songs</title>
    <body>
        <div class="container">
        <h1 class="second"><span>All songs</span></h1>
            <div class="row">
            {% for song in song_list %}
                <div class="col-3 m-4">
                    <div class="card baseBlock" style="width: 18rem;">
                    <img class="card-img-top p-1 mt-3 center" src="{{ song.album_image_link.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title text-center"><b>Album  -  {{ song.album_name }}</b></h5>
                            <p class="card-text text-center">Song -  {{ song.song_name }}</p>
                            <audio controls>
                                <source src="{{ song.upload_file.url }}" type="audio/ogv">
                                <source src="{{ song.upload_file.url }}" type="audio/mpeg">
                                Your browser does not support the audio element.
                            </audio>
                            <p class="card-text text-center"><a href="/create"  class="btn btn-Lynch">add to plalist</a></p>
                        </div>
                    </div>
                </div>
            {% endfor%}
            </div>
        </div>
        <hr/>

        <style>
            .btn-Lynch {
                width: 45px;
                height: 45px;
                background-color: #6C7A89;
                border-bottom: 3px solid #818D9B;
                color: white;
                margin: 5px;
                border-radius: 20px;

            }

            .glyphicon {
                color: white;
            }

            &:hover {
                background-color: #95A5A6;
                color: white;
            }
            }

            #add_song {
                border-radius: 0px;
            }

            #add_song:hover {
                transition-property: border-radius;
                transition-duration: 1s;
                transition-delay: .1s;
                border-radius: 35px;
            }
            audio{
                width :15rem;
            }
            img {
                border: 1px solid #ddd;
                border-radius: 4px;
                padding: 5px;
                width: 100px;
                height:100px;
                }
            .card-img-top {
                width: 50%;
            }
            .center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 50%;
            }
            h1.second {
                font-weight: 200;
            }

            h1.second span {
                position: relative;
                display: inline-block;
                padding: 5px 10px ;
                border-radius: 10px;
                border-bottom: 1px solid mediumseagreen;
            }

            h1.second span:after {
                content: '';
                position: absolute;
                bottom: calc(-100% - 1px);
                margin-left: -10px;
                display: block;
                width: 100%; height: 100%;
                border-radius: 10px;
                border-top: 1px solid mediumseagreen;
            }
            .baseBlock {
                margin: 0px 0px 35px 0px;
                padding: 0 0 15px 0px;
                border-radius: 5px;
                overflow: hidden;
                background: #fff;
                -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
                transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
            }

            .baseBlock:hover {
                -webkit-transform: translate(0, -8px);
                -moz-transform: translate(0, -8px);
                -ms-transform: translate(0, -8px);
                -o-transform: translate(0, -8px);
                transform: translate(0, -8px);
                box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
            }

        </style>

    </body>